/* navbar styling */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav{
    height: 80px;
}

img{
    width: 100%;
    height: auto;
    margin-left: 10%;
    padding-top: 1%;
}

.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -2%;
    margin-right: -55%;
    display: flex;
    justify-content: center;
}

.menu li{
    list-style: none;
    display: inline-block;   
    /* margin-right: 5%; */
    margin: 0 10px; 
    display: inline-block; 
    font-size: 18px;
    font-weight: 700;
}

.menu li a{
    color: black;
    text-decoration: none;
    /* margin-right: -5%; */
}

.menu li a:hover{
    color: orange;
    text-decoration: underline;
    /* margin-right: -5%; */
}


/* body styling */
.container{
    margin-left: 10%;
    font-size: 14px;
}

.container span{
    color: red;
}

.container h4{
    font-size: 18px;
}

.container p{
    font-size: 18px;
}

.benefits{
    border-spacing: 150px 10px;
    font-size: 18px;
}

i{
    color: red;
}

.agro_image{
    width: 700px;
    height: 350px;
    border-radius: 10px;
}



.news_btn{
    height: 40px;
    width: 250px;
    font-size: 16px;
    padding: 3px;
    color: black;
    border: 2px solid black;
    background-color: white;
    margin-left: 35%;
    /* margin-top: -2%; */
}

.news_btn:hover{
    background: linear-gradient(to right, orange, gray);  
    border: none; 
}

/* footer styling */

.touch{
    background: linear-gradient(to right, orange, gray);
    width: 85%;
    height: 150px;
    margin-left: 8.5%;
    border-radius: 10px;
    margin-top: 2%;
}

.touch p{
    color: white;
    margin-left: 5%;
    padding-top: 3%;
    font-size: 28px;
    font-weight: 600;
}

.touch button{
    float: right;
    margin-top: -4%;
    margin-right: 2%;
    padding: 1%;
    font-size: 16px;
}

.info h2{
    color: orange;
    position: absolute;
    left: 35%;
    bottom: -295%;
}

.info p{
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    left: 35%;
    bottom: -297%;
}

#number{
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    left: 35%;
    bottom: -300%;
}

footer{
    margin-bottom: 2%;
}
