/* navbar styling */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav{
    height: 80px;
}

img{
    width: 100%;
    height: auto;
    margin-left: 10%;
    padding-top: 1%;
}

.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -2%;
    margin-right: -55%;
    display: flex;
    justify-content: center;
}

.menu li{
    list-style: none;
    display: inline-block;   
    /* margin-right: 5%; */
    margin: 0 10px; 
    display: inline-block; 
    font-size: 18px;
    font-weight: 700;
}

.menu li a{
    color: black;
    text-decoration: none;
    /* margin-right: -5%; */
}

.menu li a:hover{
    color: orange;
    text-decoration: underline;
    /* margin-right: -5%; */
}

/* body styling */
.contact{
    /* background-image: url("/img/contact.jpg"); */
    margin-left: 0%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%vh;
    width: 100%vw;
}


/* form styling */
form{
    margin-left: 10%;
    margin-top: 3%;
}

label{
    color: black;
    font-size: 18px;
}

select{
    padding: 1%;
    width: 620px;
    border: none;
    border-radius: 5px;
    margin-left: 2%;
}

input{
    padding: 1%;
    width: 900px;
    height: 40px;
    border: 1px solid black;
}

#message{
    height: 90px;
}

.btn{
    height: 60px;
    width: 150px;
    font-size: 16px;
    padding: 3px;
    background: linear-gradient(to right, orange, gray);
    margin-left: 45.3%;
}

.details{
    position: absolute;
    margin-left: 62%;
    margin-top: -23%;
}

.details p{
    font-weight: 600;
    padding-top: 1%;
    font-size: 18px
}

/* logos */

table{
    border-spacing: 30px;
    margin-left: 8%;
}

.img_logo{
    width: 100px;
    height: auto;
}

/* footer styling */
.touch{
    background: linear-gradient(to right, orange, gray);
    width: 85%;
    height: 150px;
    margin-left: 8.5%;
    border-radius: 10px;
}

.touch p{
    color: white;
    margin-left: 5%;
    padding-top: 3%;
    font-size: 28px;
    font-weight: 600;
}

.touch button{
    float: right;
    margin-top: -4%;
    margin-right: 2%;
    padding: 1%;
    font-size: 16px;
}

.info h2{
    color: orange;
    position: absolute;
    left: 35%;
    bottom: -95%;
}

.info p{
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    left: 35%;
    bottom: -98%;
}

#number{
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    left: 35%;
    bottom: -101%;
}

footer{
    margin-bottom: 2%;
}
