/* navbar styling */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav{
    height: 80px;
}

.image{
    width: 100%;
    height: 500px;
    /* margin-left: 10%; */
    padding-top: 1%;
}

.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -2%;
    margin-right: -55%;
    display: flex;
    justify-content: center;
}

.menu li{
    list-style: none;
    display: inline-block;   
    /* margin-right: 5%; */
    margin: 0 10px; 
    display: inline-block; 
    font-size: 18px;
    font-weight: 700;
}

.menu li a{
    color: black;
    text-decoration: none;
    /* margin-right: -5%; */
}

.menu li a:hover{
    color: orange;
    text-decoration: underline;
    /* margin-right: -5%; */
}

/* body styling */

.container{
    position: relative;
    left: 10%;
    margin-top: 5%;
    border: 2px solid orange;
    max-width: 1400px;
    height: 500px;
}

.heading{
    font-size: 32px;
    color: orange;
    font-weight: 600;
    margin-left: 2%;
    padding-top: 7%;
}

#details{
    font-size: 18px;
    margin-left: 2%;
}

.btn{
    height: 60px;
    width: 150px;
    font-size: 16px;
    padding: 3px;
    background: linear-gradient(to right, orange, gray);
    color: white;
    margin-left: 2%;
    margin-bottom: 4%;
}

.mission_image{
    position: absolute;
    right: 0;
    top: 0;
}

.mission_image img{
    height: 492px;
    width: 700px;
}


/* core service styling */

.team h2{
    margin-left: 9%;
    font-size: 28px;
}

.team_members h3{
    font-size: 20px;
}

.team_members p{
    padding-top: 2%;
    font-size: 18px;
}

.team_members{
    border: 2px solid brown;
    border-radius: 10px;
    width: 680px;
    height: 175px;
    padding: 3%;
}

table{
    border-spacing: 50px;
    margin-left: 7%;
}

/* indutries styling */

.industries_serve{
    border: 1px solid brown;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    padding: 3%;
    border-bottom: none;
    text-align: center;
}

.industries table{
    border-spacing: 100px 70px;
    margin-left: 7%;
}

.industry_touch{
    background-color: orange;
    width: 80%;
    height: 150px;
    margin-left: 10.6%;
    border-radius: 10px;
    margin-top: -4.5%;
}

.industry_touch p{
    color: white;
    padding: 3%;
    font-size: 18px;
    text-align: center;
}

/* news styling */
.team h1{
    text-align: center;
    text-transform: uppercase;
}

.team h2{
    margin-left: 9%;
    font-size: 28px;
}

.thenews h3{
    font-size: 20px;
}

.thenews p{
    padding-top: 2%;
}

.thenews{
    border: 1px solid red;
    border-radius: 10px;
    width: 450px;
    height: 400px;
    padding: 3%;
}

.news_image{
    width: 100%;
    height: 300px;
    padding-bottom: 2%;
}

table{
    border-spacing: 60px;
    margin-left: 7%;
}

/* .team_members img{
    height: 453px;
    width: 700px;
} */

.news_btn{
    height: 40px;
    width: 150px;
    font-size: 16px;
    padding: 3px;
    color: black;
    border: 2px solid black;
    background-color: white;
    margin-left: 45%;
    /* margin-top: -2%; */
}

.news_btn:hover{
    background: linear-gradient(to right, orange, gray);  
    border: none; 
}

/* footer styling */

.touch{
    background: linear-gradient(to right, orange, gray);
    width: 85%;
    height: 150px;
    margin-left: 8.5%;
    border-radius: 10px;
    margin-top: 2%;
}

.touch p{
    color: white;
    margin-left: 5%;
    padding-top: 3%;
    font-size: 28px;
    font-weight: 600;
}

.touch button{
    float: right;
    margin-top: -4%;
    margin-right: 2%;
    padding: 1%;
    font-size: 16px;
}

.info h2{
    color: orange;
    position: absolute;
    left: 35%;
    bottom: -276%;
}

.info p{
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    left: 35%;
    bottom: -279%;
}

#number{
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    left: 35%;
    bottom: -282%;
}

footer{
    margin-bottom: 2%;
}